<p>employee works!</p>
<input placeholder="First Name">
<input placeholder="Last Name">
<input placeholder="Age">
<input placeholder="Mobile">

<button>Add</button>
<h1>You addedd 10 employees</h1>
<table>
    <tr>
        <td>#</td>
        <td>Full Name</td>
        <td>Age</td>
        <td>Action</td>
    </tr>
    <tr>
        <td>1</td>
        <td class="red-color">Mohamed</td>
        <td> <input type="number"></td>
        <td>
            <button>DELETE</button>
        </td>
    </tr>
   
</table>


